<div class="horizontal">
    <div class="red">
        <%= flash[:error] %>
    </div>
    <div>
        <a href="/admins/login">Login as admin</a>
    </div>
</div>
<div class="images_list">
  <% @users.each do |user| %>
  <div class="image_user">
    <%= link_to "/buy/new_order/#{user.id}>", method: "post" do %>
        <% if user.avatar.attached? %>
            <%= image_tag user.avatar,
                    alt: "#{user.name}'s profile picture",
                    width: 100,
                    height: 75 %>
        <% else %>
            <%= image_tag "people/shadow.jpg",
                    alt: "#{user.name}'s profile picture",
                    width: 100,
                    height: 75 %>
        <% end %>

        <div><%= user.name %></div>
    <% end %>
  </div>
  <% end %>
</div>
